@import url('https://fonts.googleapis.com/css?family=Coustard');
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    background-color: #673AB7;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-family: 'Coustard', serif;
    text-transform: uppercase;
    font-size: 3em;
    transform: rotate(-10deg);
    color: #ddd;
}

