/*Base Css*/

/* Simple Reset*/

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body{
  height: 100%;
  font-family: 'Helvetica',sans-serif;
}

main{
  width:900px;
  margin:0  auto;
}
main.resp{
  width: 100%;
}

header{
  background-color: #deeef7;
  padding: 2em;
}

button{
  padding: 10px;
  border: none;
  box-shadow: 0px 4px #ccc;
  outline: none;
  border:2px solid #dfdfdf;
}
button:active{
  box-shadow: 1px 2px #ccc;
}
